*{}
/* ====================
setting common
==================== */

body {
    background: #ffffff;
    margin: 0;
    font-family: arial;
    font-family: myriad;
}

.container {
    width: 960px;
    margin: 0 auto;
}

@font-face{
    font-family: 'MyriadPro-Cond';
    src: url(../font/MyriadPro-Cond.otf)
}
/* ====================
end setting common
==================== */

/* ====================
setting header
==================== */

.cover_header {
    background-color: #2a2a2a;
    overflow: hidden;
    max-height: 162 px;
}

/* setting logo */
.cover_header .logo {
    width: 30%;
    height: auto;
    float: left;
}

.cover_header .logo img {
    max-width: 100%;
    height: auto;
    padding: 31px 0 78px 0px;
}
/* end setting logo */

/* setting navigation */
.cover_header .navigation {
    float: right;
}

.cover_header .navigation ul.sub_navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    /* padding-right: 10px; */
    margin-right:-8px;
}

.cover_header .navigation ul.sub_navigation li {
    float: left;
    margin-top: 38px;
}

.cover_header .navigation ul.sub_navigation li a {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    font-family: arial;
}

.cover_header .navigation ul.sub_navigation li a:not(.active) {
    padding: 8px 18px 10px 18px;
}

.cover_header .navigation ul.sub_navigation li a.active {
    background-color: #3c3c3c;
    border-radius: 5px;
    padding: 8px 23px 10px 24px;
}

.cover_header .navigation ul.sub_navigation li a:hover {
    background-color: #3c3c3c;
    border-radius: 5px;
}
/* end setting navigatio */

/* ====================
end setting header
==================== */

/* ====================
setting content
==================== */

.wrapper_content {
    border: 1px solid #e9e9e9;
    background-color: #ffffff;
    padding-bottom: 10px;
    position: relative;
    top: -44px;
    padding: 21px 21px 31px 20px;
}

.cover_page_content {
    background-color: #f9f9f9;
    padding-bottom: 37px;
}

/* setting photo_slide */

.wrapper_content .photo_slide {
    overflow: hidden;
}

.photo_slide_package .package{
    width: 100%;
    height: auto;
    background-color: #1d1d1d;
    overflow: hidden;
}

.wrapper_content .photo_slide .photo_slide_package .package .photo_slide_image {
    float: left;
    width: 58.2%;
    height: auto;
}

.wrapper_content .photo_slide .photo_slide_package .package .photo_slide_image img{
    vertical-align: top;
    width: 100%;
    height: auto;
}
.wrapper_content .photo_slide .photo_slide_package .package .photo_slide_describe {
    color: #ffffff;
    padding: 49px 25px 0px 47px;
    overflow: hidden;
}

.package .photo_slide_describe h2 {
    font-family: arial;
    font-size: 24px;
}

.package .photo_slide_describe strong {
    font-family: arial;
    font-size: 14px;
    line-height: 20px;
    font-weight: bold;
    margin: 24px 0 21px 0px;
    display: inline-block;
}

.package .photo_slide_describe p {
    font-family: arial;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
    margin-bottom: 30px;
}

.package .photo_slide_describe a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    background-color: #1d87ae;
    font-family: MyriadPro-Cond;
    color: #ffffff;
    border-radius: 5px;
    text-shadow: 1px 1px 3px #060606;
    padding: 7px 30px 7px 30px;
    text-transform: uppercase;
}

button, input[type=button] {
    overflow: visible;
    text-indent: -9999px;
    border-radius: 50%;
    border: #d2d2d2;
    background: #d2d2d2;
    height: 12px;
    width: 11px;
}

ul.slick-dots {
    float: right;
}

ul.slick-dots li {
    float: left;
    margin: 15px 0px 9px 5px;
}

.slick-active button {
    background: #5e5e5e;
}

button.slick-prev.slick-arrow , button.slick-next.slick-arrow {
    display: none !important;
}

/* end setting photo_slide */

/* setting post .post_item_infor */

.cover_page_content .information_wrapper {
    border-top: 1px solid #e5e5e5;
    padding-top: 11px;
}

.cover_page_content .information_wrapper .information .post_item_infor {
    float: left;
    width: 33.3%;
    padding: 0 18.5px;
    margin-right: -2px;
}

.cover_page_content .information_wrapper .information .post_item_infor .post_title {
    padding: 0 0 13px 5px;
    box-shadow: 0 22px 17px -20px #e7e7e7ad;
}

.cover_page_content .information_wrapper .information .post_item_infor .post_note {
    margin-top: -9px;
}

.cover_page_content .information_wrapper .information .post_item_infor .post_describe {
    margin: 22px 0px -7px;
}

.cover_page_content .information_wrapper .information {
    margin:0 -18.5px;
}

.information .post_item_infor .post_title h2 {
    text-transform: uppercase;
    font-family: arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    color: #1d2024;
}

.cover_page_content .information_wrapper .information .post_item_infor .post_photo {
    border: 1px solid #e2e2e2;
    padding: 4px;
}


.cover_page_content .information_wrapper .information .post_item_infor .photos {
    margin: 0 !important;
    line-height: 0px !important;
}
.information .post_item_infor .post_photo img {
    max-width: 100%;
    height: auto;
}
.information .post_item_infor .post_title p {
    color: #ababab;
    font-family: arial;
    font-size: 11px;
    line-height: 20px;
}

.cover_page_content .information_wrapper .information .post_item_infor .post_describe span.txt_block {
    display: block;
}

div#news .post_describe {
    margin: 11px 0px 0px 5px;
}

div#news .post_describe a {
    display: inline-block;
    margin: 0 -2px -5px 0px;
}

div#news .post_describe p {
    margin: 0;
    display: inline;
}

div#news .post_describe .post_detail li {
    margin: 0 28px 15px 0px;
}

.information .post_item_infor .post_read_more a {
    color: #00bddf;
    font-family: arial;
    font-size: 11px;
    line-height: 20px;
    text-decoration: none;
}

.information .post_item_infor .post_read_more a:hover {
    text-decoration: underline;
}

.information .post_item_infor .post_describe .post_detail p {
    color: #565656;
    font-size: 11px;
    line-height: 20px;
    font-family: arial;
    margin: 13px 0px 7px 0px;
}

.information .post_item_infor .post_describe a {
    color: #00bddf;
    font-size: 11px;
    line-height: 30px;
    font-family: arial;
    text-decoration: none;
}

.information .post_item_infor .post_describe a:hover {
    text-decoration: underline;
}

.information .post_item_infor .post_describe h3 {
    color: #565656;
    font-size: 11px;
    line-height: 20px;
    font-family: arial;
    font-weight: bold;
    text-transform: uppercase;
}
/* end setting post .post_item_infor */



/* ====================
end setting content
==================== */

/* ====================
setting footer
==================== */
.cover_page_content .footer {
    float: left;
    clear: left;
    width: 100%;
    border: 1px solid #e9e9e9;
    background: #ffffff;
    margin-top: -45px;
    padding: 0px 19px 68px 20px;
}

.cover_page_content .footer .footer_copyright {
    float: left;
    margin-top: 16px;
}

.cover_page_content .footer .footer_copyright p {
    font-family: arial;
    font-size: 11px;
    color: #a4a4a4;
}

.cover_page_content .footer .footer_navigation {
    float: right;
}

.cover_page_content .footer .footer_navigation ul.sub_navigation {
    float: left;
    list-style-type: none;
}

.cover_page_content .footer .footer_navigation ul.sub_navigation li {
    float: left;
    margin: 11px 0px 0px 35px;
}

.cover_page_content .footer .footer_navigation ul.sub_navigation li a {
    text-decoration: none;
    font-family: arial;
    font-size: 11px;
    color: #a6a6a6;
}



.cover_page_content .footer .footer_navigation ul.sub_navigation li a:hover {
    text-decoration: underline;
}


/* ====================
end setting footer
==================== */


/* ====================
setting menu do xuong
==================== */
.nutmenu {
    position: fixed;
    top: 6px;
    right: 14px;
    padding: 9px 15px;
    background: #00000038;
    display: none;
    z-index: 3;
}

.nutmenu i.fas.fa-bars {
    color: white;
    font-size: 20px;
}

.menuphai {
    display: none;
    position: fixed;
    top: 0;
    background: #2a2a2a;
    /* height: 900px; */
    width: 150px;
    z-index: 4;
    color: white;
    transition: all 0.4s;
    right: -300px;
}

.menuphai h2 {
    font-size: 30px;
}

i.fas.fa-times.tat {
    float: right;
    width: 20px;
    height: 20px;
    padding-right: 20px;
}

.menuphai.ra {
    right: 0;
}

.menudoc a {
    color: white;
    text-decoration: none;
    padding: 10px 13px;
    display: block;
    border-bottom: 1px solid gray;
    font-size: 12px;
    text-align: center;
}

/* ====================
end setting menu do xuong
==================== */


/* ====================
setting after
==================== */

.container:after ,
.cover_page_content .information_wrapper:after ,
.cover_page_content .information_wrapper .information:after {
    content: '';
    display: table;
    clear: both;
}

/* ====================
end setting after
==================== */