*{}

/*##################-$-Start setting common-$-##################*/

body {
    background: #e2e2e2;
    margin: 0;
    font-family: arial;
}

.container  {
    max-width: 1170px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style: none;
}

/*##################-X-End setting common-X-##################*/



/*##################-$-Start Setting header-$-##################*/

.header_cover {
    background: linear-gradient(#141414, #2b2b2a);
    color: #ffffff;
    border-top: 2px solid #fddd13;
    border-bottom: 1px solid #141414;
}


/*--------$-START setting logo-$--------*/
.header_cover .logo {
    padding: 21px 0px 14px 0px;
    display: inline-block;
}

.header_cover .logo h1 {
    margin: 0 -2px;
}
/*--------x-END setting logo-x--------*/



/*--------$-START setting hotline-$--------*/
.header_cover .hotline {
    float: right;
    margin-top: -16px;
}

.header_cover .hotline p {
    display: inline-block;
    font-weight: bold;
    font-size: 14px;
    color: #a9a9a9;
    text-transform: uppercase;
    margin-top: 13px;
}

.header_cover .hotline .hotline_drop {
    display: none;
}

.header_cover .hotline i.fas {
    color: #fddd13;
    font-size: 18px;
    margin-top: 2px;
}

.header_cover .hotline i.fas.fa-phone-volume {
    transform: rotateY(180deg);
    font-size: 40px;
    padding: 0px 22px 0 8px;
}
/*--------x-END setting hotline-x--------*/


/*##################-X-End Setting header-X-##################*/



/*##################-$-Start setting Navigation Menu-$-##################*/

.navigation_menu_cover {
    background: linear-gradient(#2b2b2a,#141414);
    border: 1px solid #484848;
}

.navigation_menu_cover .navigation {
    margin: -5px 0 0 -40px;
}

.navigation_menu_cover .navigation ul.sub_navigation {
    margin-bottom: 10px;
}

.navigation_menu_cover .navigation .sub_navigation li {
    float: left;
}

.navigation_menu_cover .navigation .sub_navigation a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 14px 19px 10px 19px;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
    margin-left: -1px;
}

.navigation .sub_navigation a i.fas {
    margin: 0px 8px;
    font-size: 17px;
}

.navigation .sub_navigation a i.fas.fa-home {
    transform: rotateY(180deg);
}

.navigation .sub_navigation a.active {
    color: #ffdd02;
    border-bottom: 2px solid #ffdd02;
}

/*##################-X-End setting Navigation Menu-X-##################*/



/*##################-$-Start setting content_cover-$-##################*/

.content_cover .content {
    background: #ffffff;
}


/*--------$-START setting photo_slide_bar-$--------*/

.content_cover .photo_slide_bar {
    border: 1px solid #000000;
}

.content_cover .photo_slide_bar .main_slider {
    float: left;
    width: 50%;
    border: 1px solid #000000;
    overflow: hidden;
    clear: right;
}

.content_cover .photo_slide_bar .service_button {
    float: right;
    width: 50%;
    overflow: hidden;
    clear: right;
    margin: -1px;
    /* nhớ thêm padding dương vào để bù lại cho margin âm */
}

.content_cover .photo_slide_bar .service_button .service_row {
    width: 100%;
}

.service_button .service_row .one_button {
    width: 32%;
    height: 146px;
    float: left;
    text-align: center;
    border: 1px solid #000000;
}

.service_button .service_row .one_button p {
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
}

#s_r_1 {
    background: #73c814;
}

#s_r_2 {
    background: #297aee;
}

#s_r_3 {
    background: #0abe7c;
}

#s_r_4 {
    background: #a469bd;
}

#s_r_5 {
    background: #f58d01;
}

#s_r_6 {
    background: #f1c40f;
}

/*--------x-END setting photo_slide_bar-x--------*/


/*--------$-START setting content_left-$--------*/

.content_cover .content .content_left {
    float: left;
    width: 75%;
}

.content_cover .content_left .product_list .one_product {
    display: inline-block;
}

.content_left .product_list .one_product p.sale_percent {
    border-radius: 50%;
    color: #ffffff;
    background-color: #fa3407;
    display: inline-block;
    padding: 16px 5px 14px 8px;
    font-size: 15px;
    font-weight: bold;
}

.content_left .product_list .one_product .product_image {
    position: relative;
}

.content_left .product_list .one_product p.sale_percent {
    position: absolute;
    top: -18px;
    right: -3px;
}

.content_left .product_list .one_product .camera_number {
    position: absolute;
    top: 77px;
    right: 3px;
}

#_camera .product_image {
    padding-bottom: 44px;
}

.content_left .product_list .one_product p.product_name {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

.content_left .product_list .one_product p.price_sell {
    font-size: 13px;
    font-weight: bold;
    color: #f93306;
}

.content_left .product_list .one_product p.price_root {
    font-size: 13px;
    font-weight: bold;
    color: #606060;
    text-decoration: line-through;
}

.content_cover .content .one_part {
    border-bottom: 1px solid #e2e2e2;
    padding: 26px 26px 0px 21px;
    margin: 0px;
}

.content_cover .content .one_part:last-child {
    border: none;
}

.content_cover .content .one_part h2 {
    color: #242424;
    font-weight: bold;
    font-size: 21px;
    display: inline-block;
    border-bottom: 2px solid #ffd401;
}

/*--------x-END setting content_left-x--------*/


/*--------$-START setting_right -$--------*/

.deail_HT_company li{
    overflow: hidden;
}

.deail_HT_company li .icon_service {
    float: left;
    width: 83px;
}

.deail_HT_company li .dtail {
    overflow: hidden;
}

.content_cover .content .content_right {
    float: right;
    width: 24.5%;
    border-left: 1px solid #e2e2e2;
}

.content_cover .content .content_right p {
    font-size: 13px;
    font-weight: bold;
    color: #010101;
}

#ht1 {
    color: #297aee;
}

#ht2 {
    color: #be242b;
}

#ht3 {
    color: #73c814;
}

#ht4 {
    color: #f58d01;
}

#ht5 {
    color: #a469bd;
}

.content_cover .content .content_right .HT_company {
    border-bottom: 1px solid #e2e2e2;
}

.content_cover .content .content_right .HT_company li {
    border-bottom: 1px solid #e2e2e2;
}

.content_cover .content .content_right .HT_company li:last-child {
    border-bottom:none;
}

#logo_HT {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.content_right .HT_company p {
    display: inline-block;
}

.content_right ul {
    padding: 0;
}

.content_cover .content .content_right .best_seller h2 {
    color: #242424;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
}

.content_right .best_seller .one_product p.sale_percent {
    border-radius: 50%;
    color: #ffffff;
    background-color: #fa3407;
    display: inline-block;
    padding: 17px 7px 17px 7px;
    font-size: 15px;
    font-weight: bold;
}

.content_right .best_seller .one_product .product_infor p.product_name {
    color: #242424;
    font-weight: bold;
    font-size: 15px;
    display: block;
}

.content_right .best_seller .one_product .product_infor p.price_sell {
    color: #f93306;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
}

.content_right .best_seller .one_product p.price_root {
    font-size: 13px;
    font-weight: bold;
    color: #606060;
    text-decoration: line-through;
    display: inline-block;
}

.content_right .best_seller .one_product p {
    color: #242424;
    font-weight: bold;
    font-size: 13px;
    display: inline-block;
}

.content_right .best_seller {
    border-bottom: 1px solid #f2f2f2;
}

.content_right .hot_product {
    border-bottom: 1px solid #f2f2f2;
}

.content_right .hot_product p.product_name {
    color: #242424;
    font-weight: bold;
    font-size: 26px;
    display: block;
}

.content_right .hot_product p.status {
    color: #ff8a00;
    font-weight: bold;
    font-size: 17px;
    display: block;
}

.content_right .contact h2 {
    color: #242424;
    font-weight: bold;
    font-size: 15px;
    display: block;
    text-transform: uppercase;
    margin: -7px 0px 19px -1px;
}

.content_right .contact .contact_detail {
    margin: -2px 0 0 -1px;
}

.content_right .contact .contact_detail p {
    color: #333333;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}

.content_right .contact .contact_detail p i {
    color: #fddd13;
    font-weight: bold;
    font-size: 15px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid #fddd13;
    padding: 5px;
}

.content_right .contact .contact_detail .contact_home, .contact_phone, .contact_mail {
    display: block;
}

/*--------x-END setting_right -x--------*/


/*--------$-START setting shop_brand-$--------*/

.content_cover .shop_brand {
    background: #f9f9f9;
    text-align: center;
    width: 100%;
    border-top: 1px solid #ededed;
    padding-bottom: 2px;
}

.content_cover .shop_brand h3 {
    font-size: 26px;
    font-weight: bold;
    color: #242424;
    border-bottom: 2px solid #ffd401;
    display: inline-block;
    margin: 36px 0 18px 3px;
}

.content_cover .shop_brand p {
    color: #646464;
    font-size: 16px;
    margin: 0 0 15px 2px;
}

.content_cover .shop_brand ul {
    /* width: 100%; */
    text-align: center;
    display: inline-block;
}

.content_cover .shop_brand li {
    float: left;
    margin: 0 55px 0 -20px;
}

/*--------x-END setting shop_brand-x--------*/



/*##################-X-End setting content_cover-X-##################*/



/*##################-$-Start Setting footer_cover-$-##################*/

.footer_cover {
    background: #272727;
    color: #ffffff;
    border-top: 1px solid #ffdd02;
}

.footer_cover h4 {
    font-size: 14px;
    color: #ffdd02;
    font-weight: inherit;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.footer_cover ul {
    padding: 0;
    margin: 0;
}

.footer_cover a {
    color: #ffffff;
    text-decoration: none;
    font-size: 12px;
    font-weight: inherit;
}

.footer_cover .footer_row {
    padding: 22px 11px 0 24px;
}

.footer_cover .footer_row .footer_col4 {
    float: left;
    width: 23%;
    margin: 0 -34px 0 0px;
    padding-bottom: 29px;
}

.footer_cover .footer_row .footer_col4 li {
    margin: 4px 0 0 2px;
}

.footer_cover .footer_row .footer_col4:nth-child(4n-1) {
    margin: -1px 0 0 54px;
}

.footer_cover .footer_row .footer_col4:nth-child(4n) {
    clear: right;
}

.footer_cover .footer_row .footer_col4:nth-child(4n+1) {
    clear: left;
}

.footer_cover .footer_row .footer_col4:last-child {
    width: 31%;
    float: right;
    margin: 20px -27px 0 0;
}

.footer_cover .social_network h4 {
    margin: 0px 0 15px 0;
}

.footer_cover .social_network ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: -18px 0 8px -1px;
}

.footer_cover .social_network li {
    float: left;
}

.footer_cover .social_network .s_icon {
    margin-right: 10px;
}

.footer_cover .social_network .input_email_box .email_input {
    display: inline-block;
    /* background: black;
    border: 1px solid #ffffff; */
}

.footer_cover .social_network .input_email_box .email_input input#email {
    background: black;
    border: 1px solid #ffffff;
    border-radius: 5px 0 0 5px;
    padding: 7px 64px 7px 13px;
    border-right: none;
    color: #ffffff;
}

input[type="submit"] {
    /* background-color: #ffdd02; */
    border: none;
    border-radius: 0px 5px 5px 0px;
    padding: 10px 26px 6px 25px;
    margin: 0 0px -11px -3px;
    background: url(../images/icon/next.png) no-repeat #ffdd02 50% 50%;
}

.footer_cover .social_network .input_email_box .submit_button {
    display: inline-block;
}

/*##################-X-End Setting footer_cover-X-##################*/



/*##################-$-Start setting copyright & design-$-##################*/

.cover_copyright {
    background: #181818;
    color: #ababab;
    font-size: 12px;
    border-top: 1px solid #303030;
    text-transform: uppercase;
}

.cover_copyright p {
    margin: 6px -12px 24px 9px;
    padding-top: 15px;
}

.cover_copyright .copyright {
    float: left;
}

.cover_copyright .design {
    float: right;
}

/*##################-X-End setting copyright & design-X-##################*/


/*##################-$-Start setting after and before-$-##################*/

.cover_copyright:before,
.navigation_menu_cover:before,
.header_cover:before {
    content: '';
    display: table;
    clear: both;
}

.footer_row:after,
.cover_copyright:after,
.shop_brand:after,
.content_cover .content:after,
.sub_navigation:after,
.navigation_menu_cover:after,
.header_cover:after {
    content: '';
    display: table;
    clear: both;
}

/*##################-X-End setting after and before-X-##################*/

